# Imports

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import re

In [ ]:
# Ahora puedes importar los módulos de la carpeta 'utils'
import sys
sys.path.insert(0,'../utils')

import constants as cons  # Reemplaza 'modulo1' con el nombre del archivo que deseas importar
import bootcampviztools as viztools
import funciones as f # Reemplaza 'modulo2' con el nombre del archivo que deseas importar

# Carga de datos y visualización de información

In [33]:
df_gamepass = pd.read_csv(cons.DF_GAMEPASS_SRC)
df_gamepass.head()

,GAME,RATIO,GAMERS,COMP %,TIME,RATING,ADDED,True_Achievement,Game_Score
0,Mass Effect Legendary Edition,1.87,"84,143",4.1,100-120 hours,4.8,06 Jan 22,5442,2915
1,The Elder Scrolls V: Skyrim Special Edition,1.97,"213,257",8.0,80-100 hours,4.7,15 Dec 20,3055,1550
2,Mass Effect 2,1.34,"221,178",9.6,50-60 hours,4.7,09 Nov 20,1819,1355
3,Stardew Valley,3.04,"51,530",1.0,150-200 hours,4.7,02 Dec 21,3036,1000
4,It Takes Two,1.68,"71,981",15.6,12-15 hours,4.7,03 Nov 21,1678,1000

In [ ]:
#Se eliminan las columnas que no se van a utilizar
df_gamepass = df_gamepass.drop(columns=[RATIO, TRUE_ACHIVEMENTS, GAME_SCORE])
df_gamepass.head()

,GAME,GAMERS,COMP %,TIME,RATING,ADDED
0,Mass Effect Legendary Edition,"84,143",4.1,100-120 hours,4.8,06 Jan 22
1,The Elder Scrolls V: Skyrim Special Edition,"213,257",8.0,80-100 hours,4.7,15 Dec 20
2,Mass Effect 2,"221,178",9.6,50-60 hours,4.7,09 Nov 20
3,Stardew Valley,"51,530",1.0,150-200 hours,4.7,02 Dec 21
4,It Takes Two,"71,981",15.6,12-15 hours,4.7,03 Nov 21

In [ ]:
df_gamepass.info()
# Existen nulos y la columna GAMERS no es numerica. Además, sería conveniente modificar la columna TIIME de tal forma que sea  el tiempo medio

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GAME    455 non-null    object
 1   GAMERS  455 non-null    object
 2   COMP %  455 non-null    float64
 3   TIME    421 non-null    object
 4   RATING  452 non-null    float64
 5   ADDED   454 non-null    object
dtypes: float64(2), object(4)
memory usage: 21.5+ KB

In [ ]:
df_gamepass[GAMERS] = pd.to_numeric(df_gamepass[GAMERS].str.replace(',', ''), errors='coerce')
df_gamepass.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 455 entries, 0 to 454
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GAME    455 non-null    object
 1   GAMERS  455 non-null    int64
 2   COMP %  455 non-null    float64
 3   TIME    421 non-null    object
 4   RATING  452 non-null    float64
 5   ADDED   454 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 21.5+ KB

In [ ]:
df_gamepass[df_gamepass[TIME].isnull()].sort_values(by= GAMERS, ascending=False)

,GAME,GAMERS,COMP %,TIME,RATING,ADDED
242,Fight Night Champion,84000,0.0,NaN,3.6,09 Nov 20
91,Elite: Dangerous,66416,0.0,NaN,4.1,24 Feb 21
336,NBA LIVE 19,29473,0.1,NaN,3.3,09 Nov 20
294,NBA 2K22,18528,0.0,NaN,3.5,28 Apr 22
204,Train Sim World 2,17494,0.0,NaN,3.8,19 Aug 21
414,Library Of Ruina,14668,0.0,NaN,2.2,NaN
365,Edge of Eternity,14114,0.0,NaN,3.2,31 Jan 22
393,Power Rangers: Battle for the Grid,13851,0.4,NaN,2.9,26 Mar 20
384,Nuclear Throne,12261,0.0,NaN,3.0,09 Sep 21
368,Crown Trick,12253,0.0,NaN,3.2,03 Sep 21
46,Stellaris: Console Edition,11695,0.0,NaN,4.3,16 Dec 19
441,Crusader Kings III,11456,0.0,NaN,3.8,14 Mar 22
419,NBA 2K22 (Xbox One),11311,0.0,NaN,3.4,28 Apr 22
423,Bassmaster Fishing 2022,9425,0.0,NaN,2.4,09 Oct 21
345,Astria Ascending,8446,0.4,NaN,3.3,18 Sep 21
431,Next Space Rebels,8091,0.3,NaN,3.2,17 Nov 21
448,The Catch: Carp Coarse Fishing,8084,0.0,NaN,2.7,18 May 21
444,Phoenix Point,7388,0.0,NaN,3.6,01 Oct 21
437,RESEARCH and DESTROY,6162,0.1,NaN,3.1,26 Apr 22
427,Unsouled,4302,0.0,NaN,3.1,28 Apr 22
433,The Dungeon of Naheulbeuk: The Amulet of Chaos...,4273,0.1,NaN,4.1,17 Mar 22
420,UNSIGHTED,3684,0.5,NaN,3.6,10 Sep 21
421,Lemnis Gate,2739,0.4,NaN,3.3,10 Sep 21
449,Atomicrops,1853,1.9,NaN,4.5,22 Jul 21
443,Dragon Ball FighterZ (Windows),1436,0.4,NaN,3.9,16 Mar 22
436,Chinatown Detective Agency,738,0.0,NaN,2.6,07 Apr 22
451,The Evil Within (JP),388,12.1,NaN,3.8,16 Aug 21
429,Undungeon,386,0.0,NaN,2.5,19 Nov 21
442,Galactic Civilizations III (Windows),348,0.0,NaN,3.1,16 Mar 22
438,Loot River,334,0.0,NaN,3.2,Yesterday
428,Fae Tactics,166,0.0,NaN,3.0,18 Nov 21
452,Shadowrun Returns,0,0.0,NaN,NaN,20 Apr 22
453,Shadowrun: Hong Kong - Extended Edition,0,0.0,NaN,NaN,20 Apr 22
454,Shadowrun: Dragonfall - Director's Cut,0,0.0,NaN,NaN,20 Apr 22

Al parecer algunos son juegos que en su momento fueron recien agregados, por lo que no  hay suficientes datos y la mayoría no han sido commpletados o siquiera jugados. De momento, se elimnan los que fueron recien agregados y se buscará si los otros juegos son de algun tipo en particular.

In [ ]:
df_gamepass = df_gamepass[df_gamepass[GAMERS] != 0]
df_gamepass.info()

<class 'pandas.core.frame.DataFrame'>
Index: 452 entries, 0 to 451
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   GAME    452 non-null    object
 1   GAMERS  452 non-null    int64
 2   COMP %  452 non-null    float64
 3   TIME    421 non-null    object
 4   RATING  452 non-null    float64
 5   ADDED   451 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 24.7+ KB

In [ ]:
df_gamepass[TIME] = df_gamepass[TIME].apply(f.calculate_mean_time)
df_gamepass.head()

,GAME,GAMERS,COMP %,TIME,RATING,ADDED
0,Mass Effect Legendary Edition,84143,4.1,110.0,4.8,06 Jan 22
1,The Elder Scrolls V: Skyrim Special Edition,213257,8.0,90.0,4.7,15 Dec 20
2,Mass Effect 2,221178,9.6,55.0,4.7,09 Nov 20
3,Stardew Valley,51530,1.0,175.0,4.7,02 Dec 21
4,It Takes Two,71981,15.6,13.5,4.7,03 Nov 21